<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoshan.mapper.UserMessageMapper">
    <resultMap id="BaseResultMap" type="com.chaoshan.entity.UserMessage">
        <!--@mbg.generated-->
        <!--@Table chaoshan.cs_user_message-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="articleid" jdbcType="BIGINT" property="articleid"/>
        <result column="send_accountid" jdbcType="VARCHAR" property="sendAccountid"/>
        <result column="receive_accountid" jdbcType="VARCHAR" property="receiveAccountid"/>
        <result column="message" jdbcType="VARCHAR" property="message"/>
        <result column="is_read" jdbcType="BOOLEAN" property="isRead"/>
        <result column="message_type" jdbcType="INTEGER" property="messageType"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_delete" jdbcType="BOOLEAN" property="isDelete"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, articleid, send_accountid, receive_accountid, message, is_read, message_type,
        create_time, update_time, is_delete
    </sql>
</mapper>