<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoshan.mapper.TopicArticleCommentMapper">

    <resultMap id="BaseResultMap" type="com.chaoshan.entity.TopicArticleComment">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="send_accoutid" column="send_accoutid" jdbcType="BIGINT"/>
        <result property="article_id" column="article_id" jdbcType="BIGINT"/>
        <result property="message" column="message" jdbcType="VARCHAR"/>
        <result property="star" column="star" jdbcType="BIGINT"/>
        <result property="is_delete" column="is_delete" jdbcType="TINYINT"/>
        <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,send_accoutid,article_id,
        message,star,is_delete,
        create_time,update_time
    </sql>
</mapper>
